{% extends "voc2.j2" %}

{% block summary %}

<p>Het vocabularium van OSLO-mobiliteit is verzameling van alle verschillende elementen die belangrijk zijn voor het standardiseren van mobiliteit en vervoer.</p>
<p>De meeste termen werden gemapt op meerdere bestaande standaarden: <a href="IN TE VULLEN ">CIDOC-CRM</a> en <a href="IN TE VULLEN">FRBRoo</a>.</p>
<p>Daarnaast definieert dit vocabularium enkele eigen termen. Deze zijn te vinden onder Klassen en Eigenschappen, terwijl de gemapte termen opgelijst staan onder Externe Terminologie.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}