{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel heeft als doelstelling om de informatiestroom rond het mobiliteitsbudget (voor burgers) te standaardisteren. Dit applicatieprofiel werd ontwikkeld in het kader van het CoT traject van de steden Hasselt, Leuven en Antwerpen om tot een Mobiliteitsbudget voor burgers te komen.</p>
<p>Het applicatieprofiel herbruikt termen en de manier waarop ze worden toegepast uit onder andere de volgende standaarden:</p>
<ul>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/">Applicatieprofiel OSLO Generiek</a></li>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">Applicatieprofiel OSLO Persoon Basis</a></li>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod/">Applicatieprofiel OSLO Mobiliteit: Trips en Aanbod</a></li>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">Applicatieprofiel OSLO Organisatie Basis</a></li>  
</ul> 
<p>Om de verkeerslast in de drukke centra af te nemen is het mobiliteitsbudget in het leven geroepen. Dit budget voor burgers zet aan om duurzame alternatieven te nemen dan de traditionele wagen. Dit budget kan toegekend worden door een lokale overheid, een ander overheidsorgaan, lokale handelaren en mobiliteitsdiensten zelf. Allen kunnen ze een budget sturen naar bepaalde burgers in de vorm van geldkortingen, gratis ritten of andere acties. Gebruikers kunnen dan voor zichzelf of andere personen een vervoersbewijs aanschaffen om zich te verplaatsen. Voorwaarden aan dit budget zijn er ook, budgetten kunnen beperkt zijn per leeftijdsgroep, tijdsaspect, locatie,... </p>
<p>Termen die te maken hebben met Mobiliteitsbudget in de brede zin werden opgenomen in het Vocabularium Mobiliteitsbudget.</p>
{% endblock %}

