{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel toont hoe de verschillende hoe de verschillende onderdelen, gedefinieerd in het vocabularium, samenwerken om data uit te wisselen omtrent het mobiliteitsbudget en zijn facetten.</p>
<p>Het applicatiemodel bevat het model zelf, de verschillende datatypes en ook de opsommingen of enumeraties van onderdelen.</p>
{% endblock %}

